<template>
  <div id="login">
    <div v-if="isSignIn">
      <div class="header">
        <b-navbar variant="info" type="dark">
          <b-navbar-brand @click="signOut" class="logout">Sign Out</b-navbar-brand>
        </b-navbar>
      </div>
      <div v-if="isSignIn" class="router">
        <router-view></router-view>
      </div>
    </div>
    <div v-if="isSignIn === false" id="loginPage" class="outer"
         v-bind:style="[isSignIn === true ? {'background-color': 'unset'} : {'background-color': 'unset'}]">
      <!--<div class="outer">-->
      <!--<div class="middle">-->
      <!--<div class="inner">-->
      <!--<div>-->
      <!--<h1 class="welcome">Welcome to Alita!</h1>-->
      <!--<h2 class="hint">Please sign in with Google</h2>-->
      <!--<div id="my-signin2"></div>-->
      <!--</div>-->
      <!--</div>-->
      <!--</div>-->
      <!--</div>-->
    </div>
    <div class="container" id="main_area">
      <div class="row" id="row_1">
        <div class="col-md-12" id="column_2">
          <img class="abs" id="g_1_1"
               src="https://memo-link.com/wp/wp-content/uploads/2019/03/9f3ab796b2c69be3ffa51078145f3953.png">
          <img class="abs" id="g_1_2"
               src="https://memo-link.com/wp/wp-content/uploads/2019/03/d203e30368eb08cf886d744721d00242-1.png">
          <img class="abs" id="g_1_3"
               src="https://memo-link.com/wp/wp-content/uploads/2019/03/bfa89dc1615ba1a74f167f15f80dbfc0.png">
        </div>
      </div>
      <div class="row" id="row_1_1">
        <div class="col-md-12" id="column_2_1">
          <img class="pointer" id="button_gacha"
               src="https://memo-link.com/wp/wp-content/uploads/2019/03/818568cf544d3734d0500aa88650435e.png">
          <div id="gacha_sum">0</div>
          <div id="gacha_count">0</div>
          <input type="text" class="form-control abs center" id="input_coupon"
                 aria-describedby="couponHelp"
                 maxlength="15"
                 placeholder="コードを入力してください">
        </div>
      </div>
      <div class="row" id="row_2">
        <div class="col-lg-12" id="column_3">
          <img class="abs center" id="img_3_1"
               src="https://memo-link.com/wp/wp-content/uploads/2019/03/320443ac0af81d7de0fa46d437042cd4-1.jpg">
        </div>
        <div class="col-lg-12" id="column_3_1">
          <img class="abs center" id="img_3_1_1"
               src="https://memo-link.com/wp/wp-content/uploads/2019/03/83a059e8d7ba4fc303cc11c7922e46fe-2.jpg">
        </div>
      </div>
      <div class="row" id="row_3">
        <div class="col-lg-12" id="column_4">
          <img class="center abs" id="img_4_1"
               src="https://memo-link.com/wp/wp-content/uploads/2019/03/7eb156888fb8d9452bffe87dfd6ff416.png">
        </div>
        <div class="col-lg-12" id="column_4_1">
          <img class="center abs" id="img_4_1_1"
               src="https://memo-link.com/wp/wp-content/uploads/2019/03/46fa262aff2e5813e666e087d39f7cef.jpg">
        </div>
      </div>
      <div class="row" id="row_2_2">
        <div class="col-lg-12" id="column_3_2">
          <div id="twitter_div">
            <a class="twitter-timeline" data-height="422" data-width="100%"
               href="https://twitter.com/memo_link?ref_src=twsrc%5Etfw"
               data-chrome="noheader nofooter noborders transparent"></a>
          </div>
        </div>
      </div>
      <div class="row" id="row_4">
        <div class="col-md-12" id="column_5">
          <img class="pointer" id="button_gacha_2"
               src="https://memo-link.com/wp/wp-content/uploads/2019/03/818568cf544d3734d0500aa88650435e.png">
        </div>
      </div>
      <div class="row" id="row_bottom">
        <div class="col-lg-12" id="column_bottom_logo" style=" height: 250px;">
          <img class="abs center" id="img_bottom_logo"
               src="https://memo-link.com/wp/wp-content/uploads/2019/02/MEMORIES-OF-LINK_LOGO_500.png"
               style=" height: 230px;">

        </div>
      </div>
    </div>
    <div class="container" id="footer" style="max-width: 100%">
      <div class="row" id="row_5">
        <div class="col-md-12" id="column_10">
          <a>© 2019 Regina Entertainment Co., Ltd. All Rights Reserved.</a>
        </div>
      </div>
    </div>
    <!-- Modal_1 顯示抽獎結果 -->
    <div class="modal" id="ModalCenter" tabindex="-1" role="dialog"
         aria-labelledby="ModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-body">
            <div class="container-fluid">
              <div class="row">
                <div class="col-lg-6"
                     style="background-color: white; height: 400px">
                  <img class="abs center" id="img_gacha_result_character"
                       src="https://memo-link.com/wp/wp-content/uploads/2019/03/chunmeiaishen_01-1.png"
                       style="height: 400px">
                </div>
                <div class="col-lg-6"
                     style="background-color: white; height: 350px;">
                  <div class="row">
                    <div class="col-sm-12"
                         style="background-color: white; height: 350px;">
                      <img class="abs center"
                           src="./img/mo_detail_right.png"
                           style="height: 350px">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6"
                         style="background-color: white; height: 50px;">
                      <img class="abs center pointer" id="button_again"
                           src="https://memo-link.com/wp/wp-content/uploads/2019/03/818568cf544d3734d0500aa88650435e.png"
                           style="height: 50px">
                    </div>
                    <div class="col-md-6"
                         style="background-color: white; height: 50px;">
                      <img class="abs center pointer" id="button_get"
                           src="https://memo-link.com/wp/wp-content/uploads/2019/03/4bf154cabf9215c19bf4126514c34f7e.png"
                           style="height: 50px">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal_2 角色詳情-->
    <div class="modal" id="ModalCenter_2" tabindex="-1" role="dialog"
         aria-labelledby="ModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-body">
            <button type="button" class="close" data-dismiss="modal"
                    aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <div class="container-fluid">
              <div class="row">
                <div class="col-md-12" style="background-color: aquamarine">
                  <img src="./img/mo_detail_left.png" class=""
                       style="height: 400px">
                  <img src="./img/mo_detail_right.png" class=""
                       style="height: 400px">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal_3 寄送email-->
    <div class="modal" id="ModalCenter_3" tabindex="-1" role="dialog"
         aria-labelledby="ModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-body">
            <div class="container-fluid">
              <div class="row">
                <div class="col-md-12"
                     style="background-color: aquamarine; height: 400px">
                  <img class="abs center" id="img_gacha_pickup_character"
                       src="https://memo-link.com/wp/wp-content/uploads/2019/03/chunmeiaishen_01-1.png"
                       style="height: 400px">
                  <input type="email" class="form-control" id="input_email"
                         aria-describedby="emailHelp"
                         placeholder="メールアドレスを入力してください">
                  <button type="submit" class="btn btn-primary"
                          id="submit_email">確認
                  </button>
                  <a id="result_email"></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal_4 顯示影片-->
    <div class="modal" id="ModalCenter_4" tabindex="-1" role="dialog"
         aria-labelledby="ModalCenterTitle" aria-hidden="true" data-backdrop="static"
         data-keyboard="false">
      <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-body">
            <video id="gacha_anime" width="100%" autoplay
                   poster="./img/gacha_video_cover.png">
              <source
                src="https://memo-link.com/wp/wp-content/uploads/2019/03/gacha_anime_960.mp4"
                type="video/mp4">
            </video>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: "Login",
    mounted() {
      this.$router.push("/");
      this.renderLoginButton();
    },
    updated() {
      if (this.isSignIn === false) {
        this.renderLoginButton();
      }
    },
    data() {
      return {
        isSignIn: false
      };
    },
    methods: {
      renderLoginButton() {
        gapi.signin2.render("my-signin2", {
          'scope': 'profile email',
          'width': 400,
          'height': 50,
          'longtitle': true,
          'theme': 'dark',
          onsuccess: this.onSignIn,
          onfailture: this.onSignInFailed
        });
      },
      onSignIn(user) {
        this.isSignIn = true;
        const profile = user.getBasicProfile();
        console.log("ID: " + profile.getId()); // Do not send to your backend! Use an ID token instead.
        console.log("Name: " + profile.getName());
        console.log("Image URL: " + profile.getImageUrl());
        console.log("Email: " + profile.getEmail()); // This is null if the 'email' scope is not present.

        // Require dependencies
        const Vue = require("vue");
        const VueCookie = require("vue-cookie");
        // Tell Vue to use the plugin
        Vue.use(VueCookie);

        let domain = SERVICE_URL;
        var objProfile = {
          id: profile.getId(),
          name: profile.getName(),
          imgUrl: profile.getImageUrl(),
          email: profile.getEmail()
        };
        var jsonProfile = JSON.stringify(objProfile);

        this.$cookie.set("userProfile", jsonProfile, {
          expires: 7,
          domain: domain
        });
        console.log("login success");

        this.$router.push("/main");
      },
      onSignInFailed() {
        console.log("login fail");
        this.isSignIn = false;
      },
      signOut() {
        const auth2 = gapi.auth2.getAuthInstance();
        auth2.signOut().then(() => {
          this.isSignIn = false;
          this.$router.push("/");
          console.log("User signed out.");
          console.log(this)
        });

        // del user profile
        const Vue = require("vue");
        const VueCookie = require("vue-cookie");
        Vue.use(VueCookie);
        let domain = SERVICE_URL;
        this.$cookie.delete("userProfile", {
          expires: 7,
          domain: domain
        });
      }
    },
  };

  $(function () {
    let uuid = 'uuid';
    if (getCookieValue("uuid") === '') {
      uuid = getUuid();
      saveCookieYear("uuid", getUuid());
    } else {
      uuid = getCookieValue("uuid");
    }
    console.log(uuid);
    let gacha_sum = 0;// get sum form server
    var gacha_count = 5;
    if (getCookieValue("gacha_count") === '') {
      saveCookieMidnight("gacha_count", 5)
    } else {
      gacha_count = getCookieValue("gacha_count");
    }
    setInterval(function () {$('#gacha_sum').html("全数：" + gacha_sum)}, 1*1000);
    setInterval(function () {$('#gacha_count').html("残数：" + gacha_count)}, 1*1000);
    $('#button_gacha').click(gachaClick);
    $('#button_gacha_2').click(gachaClick);
    $('#button_again').click(gachaAgainClick);
    $('#gacha_anime').get(0).addEventListener('ended', gachaAnimeEnded, false);
    $('#button_get').click(getRewardClick);
    $('#submit_email').click(checkEmailValidate);
    $('#ModalCenter_4').on('shown.bs.modal', function (e) {
      // $('div.modal-backdrop').css('opacity',0);
    })

    function gachaClick() {
      var coupon_code = $("#input_coupon").val();
      if (coupon_code.length === 15) {
        var reward = POST_GACHA_START(uuid, coupon_code);
        console.log('With Coupon');
        if (reward !== 'N/A') {
          console.log('Coupon can use!!!');
          saveCookieYear('coupon_code_exist', 1);
          $('#button_again')[0].src = 'https://memo-link.com/wp/wp-content/uploads/2019/03/e8bcdd924f96492feeb9e497a8647e25.png';
          $('#img_gacha_result_character')[0].src = gacha_character_img[reward];
          $('#img_gacha_pickup_character')[0].src = gacha_character_img[reward];
          gachaAnimeStart();
        } else {
          alert('Coupon can not use!!!');
          console.log('Code can not use!!!');
          saveCookieYear('coupon_code_exist', 0);
          $('#button_again')[0].src = 'https://memo-link.com/wp/wp-content/uploads/2019/03/818568cf544d3734d0500aa88650435e.png';
        }
      } else if(coupon_code.length === 0) {
        var reward = POST_GACHA_START(uuid, coupon_code);
        console.log('No Coupon');
        saveCookieYear('coupon_code_exist', 0);
        $('#button_again')[0].src = 'https://memo-link.com/wp/wp-content/uploads/2019/03/818568cf544d3734d0500aa88650435e.png';
        $('#img_gacha_result_character')[0].src = gacha_character_img[reward];
        $('#img_gacha_pickup_character')[0].src = gacha_character_img[reward];
        calculateGachaCount();
      }
      else {
        alert('Front: Code can not use!!!');
      }
    }

    function gachaAgainClick() {
      if (getCookieValue("coupon_code_exist") === '0') {
        console.log('No Coupon');
        var reward = POST_GACHA_START(uuid, '');
        $('#img_gacha_result_character')[0].src = gacha_character_img[reward];
        $('#img_gacha_pickup_character')[0].src = gacha_character_img[reward];
        saveCookieYear('coupon_code_exist', 0);
        calculateGachaCount();
      } else {
        console.log('With Coupon');
        alert('スペシャルガーチャ一回のみです！');
      }
    }

    function calculateGachaCount() {
      if (gacha_count <= 0) {
        alert("明日０時まで待ってください！");
        delete_cookie("gacha_count");
      } else {
        gacha_count -= 1;
        saveCookieMidnight("gacha_count", gacha_count);
        console.log('gacha_count = ' + gacha_count);
        if (gacha_count === 0) {
          $('#button_again')[0].src = 'https://memo-link.com/wp/wp-content/uploads/2019/03/e8bcdd924f96492feeb9e497a8647e25.png';
        }
        gachaAnimeStart();
      }
    }

    function gachaAnimeStart() {
      gacha_sum += 1;
      var gachaAnime = $('#gacha_anime');
      $('#ModalCenter').modal('hide');
      $('#ModalCenter_4').modal('show');
      gachaAnime.get(0).pause();
      gachaAnime.get(0).currentTime = '0';
      gachaAnime.get(0).play();
    }

    function gachaAnimeEnded() {
      $('#ModalCenter_4').modal('hide');
      $('#ModalCenter').modal('show');
    }

    function getRewardClick() {
      $('#ModalCenter').modal('hide');
      $('#ModalCenter_3').modal('show');
    }

    String.prototype.allReplace = function (obj) {
      var retStr = this;
      for (var x in obj) {
        retStr = retStr.replace(new RegExp(x, 'g'), obj[x]);
      }
      return retStr;
    };

    function validateEmail(email) {
      var re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
      return re.test(email);
    }

    function checkEmailValidate() {
      var $result = $("#result_email");
      console.log($result);
      var email = $("#input_email").val();
      $result.text("");

      if (validateEmail(email)) {
        $result.text(email + " is valid :)");
        $result.css("color", "green");
        var result = POST_GET_REWARD(uuid, email);
        switch (result){
          case '成功':
            alert('成功');
            break;
          case '失敗':
            alert('失敗');
            break;
          case '交換':
            alert('交換');
            break;
        }
      } else {
        $result.text(email + " is not valid :(");
        $result.css("color", "red");
      }
      return false;
    }

    function getCookieValue(cname) {
      var name = cname + "=";
      var ca = document.cookie.split(';');
      for (var i = 0; i < ca.length; i++) {
        var c = ca[i].trim();
        if (c.indexOf(name) === 0) return c.substring(name.length, c.length);
      }
      return '';
    }

    function getUuid() {
      var s = [];
      var hexDigits = "0123456789abcdef";
      for (var i = 0; i < 36; i++) {
        s[i] = hexDigits.substr(Math.floor(Math.random() * 0x10), 1);
      }
      s[14] = "4";  // bits 12-15 of the time_hi_and_version field to 0010
      s[19] = hexDigits.substr((s[19] & 0x3) | 0x8, 1);  // bits 6-7 of the clock_seq_hi_and_reserved to 01
      s[8] = s[13] = s[18] = s[23] = "-";
      var uuid = s.join("");
      console.log('first time for uuid: ' + uuid);
      return uuid;
    }

    function saveCookieYear(name, value) {
      var now = new Date();
      var expire = new Date();
      expire.setFullYear(now.getFullYear() + 1);
      expire.setMonth(now.getMonth());
      expire.setDate(now.getDate());
      expire.setHours(0);
      expire.setMinutes(0);
      document.cookie = name + "=" + value + "; expires=" + expire.toString() + ";";
    }

    function saveCookieMidnight(name, value) {
      var now = new Date();
      var expire = new Date();
      expire.setFullYear(now.getFullYear());
      expire.setMonth(now.getMonth());
      expire.setDate(now.getDate() + 1);
      expire.setHours(0);
      expire.setMinutes(0);
      document.cookie = name + "=" + value + "; expires=" + expire.toString() + ";";
    }

    function saveCookieOneMinute(name, value) {
      var now = new Date();
      var expire = new Date();
      expire.setFullYear(now.getFullYear());
      expire.setMonth(now.getMonth());
      expire.setDate(now.getDate());
      expire.setHours(now.getHours());
      expire.setMinutes(now.getMinutes() + 1);
      document.cookie = name + "=" + value + "; expires=" + expire.toString() + ";";
    }

    function delete_cookie(name) {
      document.cookie = name + '=; Path=/; Expires=Thu, 01 Jan 1970 00:00:01 GMT;';
    }

    var gacha_character_img = [
      "https://memo-link.com/wp/wp-content/uploads/2019/03/chunmeiaishen_01-1.png",
      "https://memo-link.com/wp/wp-content/uploads/2019/03/gudongwawa_01-1.png",
      "https://memo-link.com/wp/wp-content/uploads/2019/03/haiyaozhige_01-1.png",
      "https://memo-link.com/wp/wp-content/uploads/2019/03/huahuagongzi_01-1.png"
    ];

  });

  function POST_GACHA_START(uuid, coupon_code) {
    var reward_number = '';
    if (coupon_code.length === 0) {
      console.log('Backend: No Coupon');
      // 低機率
      var gacha_reward_list = [2, 3, 2, 3];
      var probability = Math.floor(Math.random() * 4);
      reward_number = gacha_reward_list[probability];
    } else {
      if (checkCouponCodeValid(coupon_code)) {
        console.log('Backend: Coupon can use!!!');
        // 高機率
        var gacha_reward_list = [0, 1, 0, 1];
        var probability = Math.floor(Math.random() * 4);
        reward_number = gacha_reward_list[probability];
      } else {
        console.log('Backend: Coupon can not use!!!');
        reward_number = 'N/A';
      }
    }
    return reward_number;
  }

  function POST_GET_REWARD(uuid, email){
    var result_type = '';
    var result_type_list = ['成功', '失敗', '交換'];
    var probability = Math.floor(Math.random() * 3);
    result_type = result_type_list[probability];
    return result_type;
  }

  function checkCouponCodeValid(coupon_code) {
    var first = coupon_code.substring(0, 3);
    var middle = coupon_code.substring(3, 13);
    var last = coupon_code.substring(13, 15);
    var int_last = parseInt(last);
    var first_2 = first.allReplace({'G': '0', 'P': '2', 'F': '4', 'D': '6', 'W': '8'});
    var middle_2 = middle.allReplace({'Z': '0', 'J': '1', 'S': '2', 'E': '3', 'L': '4'});
    var string_1 = first_2 + middle_2;
    var int_1 = parseInt(string_1);
    var int_2 = (int_1 % 67) + 17;
    return (int_last === int_2);
  }


</script>
<style>
  .center {
    position: absolute;
    display: block;
    left: 50%;
    transform: translateX(-50%);
  }

  .abcRioButton.abcRioButtonLightBlue {
    margin: 0 auto;
  }

  html {
    height: 100%;
  }

  body {
    height: 100%;
  }

  img.bg {
    /* Set rules to fill background */
    min-height: 100%;
    min-width: 1024px;
    /* Set up proportionate scaling */
    width: 100%;
    height: auto;
    /* Set up positioning */
    position: fixed;
    top: 0;
    left: 0;
  }

  #main_area {
    height: auto;
  }

  .modal-content {
    background-color: rgba(255, 255, 255, 0) !important;
    border-color: rgba(255, 255, 255, 0) !important;
  }

  #row_1 {
    margin-top: 50px;
  }

  #column_1 {
    height: auto;
    background-color: rgba(255, 255, 255, 0);
  }

  #column_2 {
    height: 380px;
    background-color: rgba(0, 255, 255, 0);
    position: relative;
  }

  .column_2 a {
    width: 100%;
  }

  .abs {
    position: absolute;
    display: block;
  }

  #g_1_1 {
    height: 400px;
    bottom: 0px;
    left: 50%;
    transform: translateX(20%);
  }

  #g_1_2 {
    height: 300px;
    left: 50%;
    transform: translateX(-80%);
  }

  #g_1_3 {
    height: 100px;
    bottom: 0px;
    left: 50%;
    transform: translateX(-80%);
  }

  #column_2_1 {
    height: 220px;
    background-color: rgba(240, 240, 120, 0);
    position: relative;
  }

  .pointer:hover {
    cursor: pointer;
  }

  #input_coupon {
    width: 90%;
    max-width: 300px;
    display: block;
    bottom: 170px;
    left: 50%;
    background-color: rgba(255, 255, 255, 1);
  }

  #button_gacha {
    position: absolute;
    display: block;
    height: 120px;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
  }

  #gacha_sum {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-100%);
  }

  #gacha_count {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-0%);
  }

  #column_3 {
    height: 420px;
    background-color: rgba(255, 0, 255, 0);
    position: relative;
  }

  #img_3_1 {
    width: 550px;
  }

  #column_3_1 {
    height: 420px;
    background-color: rgba(60, 120, 120, 0);
    position: relative;
  }

  #img_3_1_1 {
    width: 550px;
  }

  #column_3_2 {
    height: 650px;
    background-color: rgba(255, 120, 0, 0);
    position: relative;
  }

  #twitter_div {
    background: url('https://memo-link.com/wp/wp-content/uploads/2019/03/title_text_twitter_500.png') no-repeat;
    height: 632px;
    width: 500px;
    margin: auto;
    padding: 190px 20px 20px 20px;
  }

  #content_1 {
    margin: 0px 50px 110px 50px;
    background-color: rgba(255, 255, 255, 0.6);
    padding: 10px;
  }

  #input_email {
    position: absolute;
    width: 90%;
    max-width: 400px;
    display: block;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(255, 255, 255, 0.5);
  }

  #submit_email {
    position: absolute;
    width: 60px;
    display: block;
    bottom: 30px;
    left: 50%;
    transform: translateX(350%);
  }

  #result_email {
    position: absolute;
    bottom: 4px;
    left: 50%;
    transform: translateX(-50%);
  }

  @media screen and (max-width: 767px) {
    #input_email {
      width: 60%;
    }

    #submit_email {
      transform: translateX(280%);
    }
  }

  @media screen and (max-width: 575px) {
    #input_email {
      bottom: 70px;
      width: 90%;
    }

    #submit_email {
      position: absolute;
      width: 90%;
      max-width: 400px;
      bottom: 25px;
      transform: translateX(-50%);
    }
  }

  #column_4 {
    height: 60px;
    background-color: rgba(255, 255, 0, 0);
  }

  #img_4_1 {
    width: 550px;
  }

  #column_4_1 {
    height: 796px;
    background-color: rgba(255, 205, 50, 0);
  }

  #img_4_1_1 {
    width: 550px;
  }

  @media screen and (max-width: 575px) {
    #img_4_1 {
      width: 340px;
    }

    #column_4_1 {
      height: 996px;
    }

    #img_4_1_1 {
      width: 340px;
      content: url("https://memo-link.com/wp/wp-content/uploads/2019/03/43c7118476f9175975856084ee274a68.jpg");
    }
  }

  #column_4_2 {
    height: auto;
    background-color: rgba(255, 155, 100, 0);
  }

  #column_4_3 {
    height: auto;
    background-color: rgba(255, 105, 150, 0);
  }

  #column_4_4 {
    height: auto;
    background-color: rgba(255, 55, 200, 0);
  }

  #column_5 {
    height: 160px;
    background-color: rgba(0, 0, 255, 0);
    position: relative;
  }

  #content_2 {
    background-color: rgba(255, 255, 255, 0);
    margin: 10px 70px 130px 70px;
    padding: 10px;
  }

  #button_gacha_2 {
    position: absolute;
    display: block;
    width: 300px;
    height: 100px;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
  }

  #column_10 {
    height: 100px;
    background-color: rgba(0, 0, 0, 1);
    position: relative;
    text-align: center;
  }

  #column_10 a {
    color: white;
  }

  .outer {
    display: table;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }

  .middle {
    display: table-cell;

    horiz-align: center;
  }

  .inner {
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    /*whatever width you want*/
  }

  .router {
    text-align: center;
  }

  .welcome {
    color: white;
    text-align: center;
    margin-bottom: 30px;
  }

  .hint {
    color: white;
    text-align: center;
    margin-bottom: 50px;
  }

</style>