<template>
    <div id="chat">
        <div class="mainouter">
            <div class="middle">
                <div id="response" cols="40" rows="20" class="w-75 p-3 mb-2">
                    <li
                            v-for="message in messages"
                            v-bind:style="[message['isMe'] ? { 'float': 'right' } : { 'float': 'left'}]"
                    >
                        <p class="responseText" v-bind:style="[message['isMe'] ? { 'float': 'right' } : { 'float': 'left'}]">
                            {{ message["message"]
                            }}
                        </p>
                    </li>
                </div>
                <div class="w-50 p-3 mb-1 formBar">
                    <b-input placeholder="想和Alita說什麼？" v-on:keyup.enter="send" id="input" class="inputChat" v-model="inputText" type="text"
                             autocomplete="off"/>
                    <b-button class="sendButton" variant="outline-light" @click="send">送出</b-button>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    let $ = require("jquery");
    let accessToken = "d62d2fcad3854206be792e20513f7447";
    let baseUrl = "https://api.api.ai/v1/";
    let jsonProfile;
    export default {
        name: "chat",
        mounted() {
            this.initUserInfo();
        },
        updated() {
            this.scrollResponse2Bottom();
        },
        data() {
            return {
                messages: [],
                inputText: ''
            };
        },
        methods: {
            initUserInfo() {
                jsonProfile = JSON.parse(
                    decodeURIComponent(this.readCookie("userProfile"))
                );
                this.setBotResponse(jsonProfile.id);
                this.setBotResponse(jsonProfile.name);
                this.setBotResponse(jsonProfile.email);
            },
            readCookie(name) {
                var nameEQ = name + "=";
                var ca = document.cookie.split(";");
                for (var i = 0; i < ca.length; i++) {
                    var c = ca[i];
                    while (c.charAt(0) === " ") c = c.substring(1, c.length);
                    if (c.indexOf(nameEQ) === 0)
                        return c.substring(nameEQ.length, c.length);
                }
                return null;
            },
            setBotResponse(val) {
                this.messages.push({
                    message: val,
                    isMe: false
                });
            },
            setHumanResponse(val) {
                this.messages.push({
                    message: val,
                    isMe: true
                });
                this.inputText = '';
            },
            scrollResponse2Bottom() {
                var container = this.$el.querySelector("#response");
                container.scrollTop = container.scrollHeight;
            },
            send() {
                var text = this.inputText;
                if (text.trim() === "") return;

                $.ajax({
                    type: "POST",
                    url: baseUrl + "query?v=20150910",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    headers: {
                        Authorization: "Bearer " + accessToken
                    },
                    data: JSON.stringify({
                        query: text,
                        lang: "en",
                        sessionId: "somerandomthing",
                        email: jsonProfile.email
                    }),
                    success: data => {
                        console.log(data);
                        this.setBotResponse(data.result.fulfillment.speech);
                    },
                    error: () => {
                        this.setBotResponse("Internal Server Error");
                        this.setHumanResponse(text);
                    }
                });

                this.setHumanResponse(text);
            }
        }
    };
</script>

<style>

    .inputChat {
        margin: auto;
        margin-right: 100px;
        margin-top: 16px;
        text-align: left;
        width: 50%;
    }

    #response {
        text-align: left;
        width: 100%;
        height: 400px;
        padding: 10px 10px;
        margin: auto;
        overflow-y: scroll;
        border: 2px solid white;
        border-radius: 8px;
    }
    ::-webkit-scrollbar {
        width: 0px;
        background: transparent; /* make scrollbar transparent */
    }
    .formBar {
        margin: auto;
    }

    .mainouter {
        display: table;
        position: absolute;
        top: 56px;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: dimgrey;
    }

    .sendButton {
        margin-top: 20px;
    }

    .responseText {
        color: white;
    }

    li {
        width: 60%;
        display: inline-block;
    }
</style>